.bgi {
    z-index: 2;
    background-image: url("../images/bodybackground.png");
    height: 100%;
    text-align: center;
    padding-top: 2%
}
.navbar {
    z-index: 1;
}

.nameplate {
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    line-height: 2;
}
#mug {
    height: 300px;
    width: 300px;
    margin: 0% 5% 0% 5%;
}
.carousel-item {
    text-align: center;
}
#ginfo {
    margin-bottom: 3%;
}
.text-size {
    font-size:  12pt;
    font-weight: bold;
    word-wrap: initial;
}
#empty:empty{
    background-color: lightcoral;
}

.cbackground {
    background-color: white;
    height: auto;
}

.footer{
    z-index: 1;
    position: fixed;
    left: 0%;
    right: 0%;
    bottom: 0%;
    padding: 15px 0px 15px 0px;
    border-top: 10px solid #4aaaa5;
    background-color: #666666;
}

.copyright {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 3%;
}
.carousel{
    margin: auto;
    max-height: 60%;
    max-width: 60%;
    background-image: url("../images/carousel-background.jpg");
    text-align: center;
}
.citemh {
    font-size: 20pt;
    font-weight: bolder;
    width: auto;
    color: black;
    text-shadow: 2px 2px white;
}
.citemp {
    font-size: 16pt;
    font-weight: bolder;
    word-wrap: initial;
    color: black;
    text-shadow: 2px 2px white;
}
@media screen and (max-width: 768px){
    #indexp1 {
        word-wrap: normal;
        text-align: left;
    }
    .cbackground {
        margin-bottom: 10%;
        max-width: 90%;
        margin-left: 5%;
    }
    .bgi {
        background-attachment: scroll;
    }
    .carousel {
        max-width: 80%;
        height: 280px;
    }
    .gimage{
        margin-top: 8%;
        height: auto;
        width: auto;
        max-height: 240px;
    }
    #ginfo{
        width: auto;
        margin: auto;
    }
}